/* reset base style */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: #121212;
    height: 100vh;
    overflow: hidden;
    scroll-behavior: smooth;
}


body {
    height: 100%;
}

/* default call to action*/
button, a {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    cursor: pointer;
}

a:after {
    content: ' >';
}
